@using WorldDiscovery.Shared
@page "/add-place"
@inject HttpClient httpClient
<div class="center-header">
    <img src="images/logo.png" class="logo-size" />
    <h4>Share your experience</h4>
</div>
<div class="center-container">
    <TabControlPlace>
        <TabPagePlace Text="General">
            <EditForm Model="@place" OnValidSubmit="HandleValidSubmit">
                <form class="with-padding-top">
                    <div class="row with-padding-bottom">
                        <div class="col-md-6">
                            <label for="name" class="form-label">Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="name" placeholder="Enter your name">
                        </div>
                        <div class="col-md-6">
                            <label for="category" class="form-label">Category<span class="text-danger">*</span></label>
                            <select class="form-select" id="category">
                                <option value="category1">Category 1</option>
                                <option value="category2">Category 2</option>
                                <option value="category3">Category 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="row with-padding-bottom">
                        <div class="col-md-12">
                            <label for="about" class="form-label">About<span class="text-danger">*</span> <span class="text-muted">230 characters</span></label>
                            <textarea class="form-control" id="about" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row with-padding-bottom">
                        <div class="col-md-6">
                            <label for="label" class="form-label">Choose the labels you want to apply<span class="text-danger">*</span></label>
                            <select class="form-select" id="label">
                                <option value="label1">label 1</option>
                                <option value="label2">label 2</option>
                                <option value="label3">label 3</option>
                            </select>
                        </div>
                    </div>
                    <span class="custom-link">
                        Can't find your label ?<a> Add a new one</a>
                    </span>
                    <div class="col-md-12 d-flex justify-content-end  rounded-button fixed-button">
                        <button type="submit" class="btn btn-danger">Save</button>
                    </div>
                </form>
            </EditForm>
        </TabPagePlace>

        <TabPagePlace Text="Contact us">
            <EditForm Model="@place" OnValidSubmit="HandleValidSubmit">
                <form class="with-padding-top">
                    <h4 class="with-padding-top">Social Media</h4>
                    <div class="row with-padding-bottom">
                        <div class="col-md-6">
                            <label for="facebook" class="form-label">Facebook</label>
                            <input type="text" class="form-control" id="facebook">
                        </div>
                        <div class="col-md-6">
                            <label for="website" class="form-label">Website</label>
                            <input type="text" class="form-control" id="website">
                        </div>
                    </div>
                    <h4 class="with-padding-top">Contact us</h4>
                    <div class="row with-padding-bottom">
                        <div class="col-md-6">
                            <label for="email" class="form-label">Email<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="email">
                        </div>
                        <div class="col-md-6">
                            <label for="phonenumber" class="form-label">Phone Number<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="phonenumber">
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-end  rounded-button fixed-button">
                        <button type="submit" class="btn btn-danger">Save</button>
                    </div>
                </form>
            </EditForm>
        </TabPagePlace>
        <TabPagePlace Text="Address">
            <EditForm Model="@place" OnValidSubmit="HandleValidSubmit">
                <form class="with-padding-top">
                    <h4 class="with-padding-top"> Location</h4>
                    <div class="row with-padding-bottom">
                        <div class="col-md-6">
                            <label for="googlemap" class="form-label">Google Map</label>
                            <input type="text" class="form-control" id="googlemap">
                        </div>
                    </div>
                    <h4 class="with-padding-top"> Detailed address</h4>
                    <div class="row with-padding-bottom">
                        <div class="col-md-4">
                            <label for="neighbourhood" class="form-label">Neighbourhood<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="neighbourhood">
                        </div>
                        <div class="col-md-4">
                            <label for="streetname" class="form-label">Street Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="streetname">
                        </div>
                        <div class="col-md-4">
                            <label for="streetnumber" class="form-label">Street Number<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="streetnumber">
                        </div>
                    </div>
                    <div class="row with-padding-bottom">
                        <div class="col-md-4">
                            <label for="city" class="form-label">City<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="city">
                        </div>
                        <div class="col-md-4">
                            <label for="country" class="form-label">Country<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="country">
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-end rounded-button fixed-button">
                        <button type="submit" class="btn btn-danger">Save</button>
                    </div>
                </form>
            </EditForm>
        </TabPagePlace>
        <TabPagePlace Text="Images">
            <EditForm Model="@place" OnValidSubmit="HandleValidSubmit">
                <form class="with-padding-top">
                    <div class="row with-padding-bottom">
                        <div class="col-md-4">
                            <label for="imagetitle" class="form-label">Image Title<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="imagetitle">
                        </div>
                        <div class="col-md-4">
                            <label for="description" class="form-label">Description<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="description">
                        </div>
                        <div class="col-md-4 icon-image">
                            <img src="images/camera-icon.png" class="icon-size" /> Upload Image <span class="text-danger">*</span>
                        </div>
                    </div>
                    <div class="row with-padding-bottom">
                        <div class="col-md-4">
                            <img src="images/plus-icon.png" class="icon-size" /> Add Image
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-end rounded-button fixed-button">
                        <button type="submit" class="btn btn-danger">Save</button>
                    </div>
                </form>
            </EditForm>
        </TabPagePlace>
        <TabPagePlace Text="More Sections">
            <EditForm Model="@place" OnValidSubmit="HandleValidSubmit">
                <form class="with-padding-top">
                    <div class="row with-padding-bottom">
                        <div class="col-md-6">
                            <label for="sectionname" class="form-label">Section Name</label>
                            <input type="text" class="form-control" id="sectionname" placeholder="Enter your name">
                        </div>
                        <div class="col-md-6">
                            <label for="position" class="form-label">Position</label>
                            <select class="form-select" id="position">
                                <option value="position1">Position 1</option>
                                <option value="position2">Position 2</option>
                                <option value="position3">Position 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="row with-padding-bottom">
                        <div class="col-md-12">
                            <label for="about" class="form-label">About</label>
                            <textarea class="form-control" id="about" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row with-padding-bottom">
                        <div class="col-md-4">
                            <img src="images/plus-icon.png" class="icon-size" /> Add a section
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-end rounded-button fixed-button">
                        <button type="submit" class="btn btn-danger">Save</button>
                    </div>
                </form>
            </EditForm>
        </TabPagePlace>
    </TabControlPlace>
</div>
@code {
    private int activeTab = 1;

    private void SetActiveTab(int tabNumber)
    {
        activeTab = tabNumber;
    }

    private Place place = new Place();
    private List<LabelCategory> categories = new List<LabelCategory>();
    private List<Label> labels = new List<Label>();
    private string selectedLabel = "";

    protected override async Task OnInitializedAsync()
    {
        categories = await GetLabelCategories();
        labels = await GetLabels();
    }

    private async Task<List<LabelCategory>> GetLabelCategories()
    {

        var response = await httpClient.GetAsync("/get-label-categories");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            return JsonSerializer.Deserialize<List<LabelCategory>>(content);
        }
        else
        {
            return new List<LabelCategory>();
        }
    }

    private async Task<List<Label>> GetLabels()
    {
        var response = await httpClient.GetAsync("/get-labels");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            return JsonSerializer.Deserialize<List<Label>>(content);
        }
        else
        {
            return new List<Label>();
        }
    }

    private void AddLabel()
    {
        if (!string.IsNullOrEmpty(selectedLabel))
        {
            place.Labels.Add(new Label { Name = selectedLabel });
            selectedLabel = "";
        }
    }

    private async Task HandleValidSubmit()
    {
        var jsonContent = new StringContent(JsonSerializer.Serialize(place), Encoding.UTF8, "application/json");
        var response = await httpClient.PostAsync("/add-place", jsonContent);
        if (response.IsSuccessStatusCode)
        {
            // Handle success
        }
        else
        {
            // Handle error
        }
    }
}
