@page "/place-profile/{name}"
@using WorldDiscovery.Shared
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div class="desktop-header">
    <DesktopPlaceHeader Place=@_place />
</div>

<div class="mobile-header">
    <MobilePlaceHeader Place=@_place />
</div>

@if (_place != null)
{
    <div class="place-container">
        <h2>About the @_place.Category</h2>
        <p>@_place.Description</p>
        @foreach (var item in _place.Sections)
        {
            <h2 class="header">@item.Title</h2>
            @foreach (var item2 in item.Description.Split("\n"))
            {
                <p>@item2</p>
            }
        }
    </div>
}
else
{
    <div class="results-background error-container">
        <h2 class="text-danger error-msg">@_errorMessage</h2>
    </div>
}


@code {
    [Parameter]
    public string Name { get; set; } = string.Empty;

    private Place _place { get; set; } = new();
    private string _errorMessage { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync($"/place/get-place?name={Name}");

        if (response.IsSuccessStatusCode)
        {
            string json = await response.Content.ReadAsStringAsync();
            _place = JsonSerializer.Deserialize<Place>(json);

            return;
        }

        _errorMessage = "Something went wrong. Please try again!";
    }
}
